<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Business Helper</title>

        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    </head>

    <body>

        <main role="main" class="d-flex flex-fill vh-100 justify-content-center">
<!--            Side bar    -->
            <div class="d-flex p-0 col-sm-2 flex-column">
                <button class="h-100" onclick="getCardsFunc()">Карты</button>
                <button class="h-100" onclick="getCalendarFunc()">Календарь</button>
                <button class="h-100">Депозиты</button>
                <button class="h-100">Кэшбек</button>
            </div>
<!--            Main window-->
            <div class="d-flex p-0 col-sm-10">
                <iframe id="inner_window" src="main_page_cards" class="d-flex flex-fill"></iframe>
            </div>
        </main>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/main_page.js}"></script>

    </body>
</html>